<h1>playlists</h1>

<ul>
  <% @playlists.each do |playlist| %>
    <% unless playlist.archived? %>
      <li>
        <%= link_to playlist.title, playlist_path(playlist.id) %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New playlist", new_playlist_path %>
